@tailwind base;
@tailwind components;
@tailwind utilities;

*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: "Poppins", sans-serif;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #09090c;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes meteor {
    0% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100vh) translateX(100vw);
    }
}

.login-container {
    z-index: 2; /* Debe ser mayor que el z-index de los meteoros */
    position: relative; /* Asegura que el z-index funcione correctamente */
}

.meteors-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; /* Mantén este valor menor que el del login */
}
.animate-meteor-effect {
    animation-name: meteor;
    animation-timing-function: linear;
}

.zIndexModal {
    z-index: 1400 !important; /* Asegura que el SweetAlert esté por encima del modal */
  }
  

  input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important;
    //-webkit-text-fill-color: #fff !important; /* Cambia esto según el modo oscuro o claro */
    box-shadow: 0 0 0px 1000px transparent inset;
    border-color: transparent !important;
}